<?php

/**
 * ${1:Short description}
 *
 * ${2:Long description}
 *
 * @author     ${3:`g:snips_author`}
 * @package    Rockethopper
 * @category   ${4}
 * @copyright  Rockethopper Studios 2009 
 * @version    1.0    
 */

 namespace ${5};
${6}
